[Desktop Entry]
Name=Serial
Exec=openplotter-serial
Icon=openplotter-serial
StartupNotify=true
Terminal=false
Type=Application
Categories=OpenPlotter
